   
/* Styling for the header section */
.header {
  background-color: rgba(215, 235, 187, 0.7); /* This will set Background color with transparency */
  color: black;
  padding: 10px 20px; /* Padding around header content */
  display: flex; /* Use flexbox layout */
  justify-content: space-between; /* Space items evenly */
  align-items: center; /* Center items vertically */
}

/* Styling for the logo within the header */
.logo img {
  width: 50px;
  height: 50px;
  border-radius: 50%; /* Round the corners of the logo */
  margin-right: 10px; /* Add space to the right of the logo */
}

.logo h1 {
  font-size: 1.5em; /* Setting font size for the logo heading */
}

/* Styling for the navigation menu */
.nav {
  flex-grow: 1; /* Allow navigation to grow to take available space */
  text-align: center; /* Center align navigation items */
}

.nav ul {
  list-style: none; /* Remove default list styling */
  padding: 0; /* Remove default padding */
  display: inline-block; /* Make the list items display horizontally */
}

.nav li {
  display: inline-block; /* Display list of items - inline */
  margin-left: 20px; /* Add space between list items */
}

.nav a {
  text-decoration: none; /* Remove default link underline */
  color: black;
  font-weight: bold;
  font-size: 1.2em;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(80, 216, 80);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
}



.dropdown-content a:hover {
  background-color:rgba(215, 235, 187, 0.7);
}

.dropdown:hover .dropdown-content {
  display: block;
}
.footer {
  background-color: #333;
  color: white;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: left;
  padding: 1px 0;
  bottom: 0;
  width: 100%;
}

.footer-column {
  flex: 1;
  margin: 0 10px;
}

.footer-column h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column li {
  margin-bottom: 5px;
}

.social-links {
  padding: 0;
}

.social-links li {
  display: inline-block;
  margin-right: 10px;
}

.social-links a {
  color: white;
  text-decoration: none;
}

.footer-column img {
  max-width: 50px;
  margin: 10px 0;
}

.footer-column p {
  font-size: 0.9em;
  margin-bottom: 5px;
}

.footer-column a {
  color: #e7dda6;
  text-decoration: none;
  display: block;
  margin-top: 10px;
}

.footer-column a:hover {
  color: #FFA500;
}

.footer-column h3 {
  display: flex;
  padding-left: 45px;
}

.dropbtn {
  background-color: transparent;
  color: darkgreen;
  padding: 16px;
  font-size: 1.2em;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: darkgreen;
}

.dropdown {
  position: relative;
  margin-left: 15px;
  display: inline-block;
}

.dropdown img {
  width: 50px;
  height: 50px;
}

.dropdown_content {
  display: none;
  position: absolute;
  background-color: rgba(215, 235, 187, 0.7);
  z-index: 1;
}

.dropdown_content a {
  color: darkgreen;
  padding: 6px 24px;
  text-decoration: none;
  display: block;
  font-size: 2ex;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  background-color: rgba(215, 235, 187, 0.7); /* Set background color for unhovered state */
}

.dropdown_content a:hover {
  color: purple;
  background-color: rgba(80, 243, 9, 0.7); 
}

.dropdown_content a.selected {
  color: purple;
  background-color: rgba(80, 243, 9, 0.7); /* Set background color for selected state */
}

.dropdown:hover .dropdown_content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: rgba(80, 243, 9, 0.7);
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
  padding: 20px;
  font-family: Arial;
}

/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

.row {
  margin: 10px -16px;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 8px;
}

/* Create three equal columns that float next to each other */
.column {
  float: left;
  width: 33.33%;
  display: none; /* Hide all elements by default */
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: rgb(225, 247, 166);
  padding: 10px;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: rgb(250, 137, 137);
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(153, 212, 251);
}

.btn.active {
  background-color: rgb(250, 137, 137);
  color: rgb(1, 10, 17);
}

.container {
  display: flex;
  align-items: center;
}

.video {
  width: 33%;
  margin-right: 10px;
}

.text {
  width: 33%;
  margin-right: 10px;
}

.picture {
  width: 33%;
}

.showcase {
  background-image: url("biowomen.jpg");
  height: 400px;
  width: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.6;
}







